.avatar-img {
    background-image: url('https://i.redd.it/msn-avatars-of-all-colors-v0-qw3zdjwd5uha1.png?width=1024&format=png&auto=webp&s=b4fd107930e33b26c0aff74780735e796c77d970');
    background-size: cover;
}