name: PR Checks

on: pull_request

jobs:
  build:
    name: Build Angular App
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Use Node 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build --if-present

  prettier:
    name: Prettier Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Use Node 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run Prettier check
        run: npx prettier --check .
